<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DC_Button_Finder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<userSettings>
		<DC_Button_Finder.Properties.Settings>
   <setting name="savedText" serializeAs="String">
    <value>find_1, find_3, find_4, cross, ok, reload, siege_1, siege_0 back_0, back_1, back_2</value>
   </setting>
   <setting name="WindowX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="WindowY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ThresholdPercentage" serializeAs="String">
    <value>93</value>
   </setting>
   <setting name="IterationDelay" serializeAs="String">
    <value>218</value>
   </setting>
   <setting name="SelectedWeek" serializeAs="String">
    <value>Week 5. Камазотц</value>
   </setting>
   <setting name="SearchHiddenBoss" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WindowW" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="WindowH" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="OnlyScratch" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlwaysMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SiegeOnlyMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExtendedSiege" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectedServer" serializeAs="String">
    <value>IV.Оазис Судьбы / VIII.Регис / IX.Ричез</value>
   </setting>
   <setting name="AssistantX1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AssistantX3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WeekBossX1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WeekBossX3" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HiddenBossX1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HiddenBossX3" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MobEasyX1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MobEasyX3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MobNormalX1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MobNormalX3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MobStrongX1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MobStrongX3" serializeAs="String">
    <value>True</value>
   </setting>
  </DC_Button_Finder.Properties.Settings>
	</userSettings>
</configuration>